.a1 {
  width: 50% " aria-valuenow=" 50 " aria-valuemin=" 0 " aria-valuemax=" 100;
}

.a2 {
  width: 20% " aria-valuenow=" 20 " aria-valuemin=" 0 " aria-valuemax=" 100
    "
}

.a3{
    width: 40%" aria-valuenow= "40" aria-valuemin= "0" aria-valuemax=
    "100
}

.a4{
    width: 60%" aria-valuenow= "60" aria-valuemin= "0"
    aria-valuemax= "100
}

.a5{
    width: 80%" aria-valuenow= "80" aria-valuemin=
    "0" aria-valuemax= "100
}

.a6{
    width: 100%" aria-valuenow= "100"
    aria-valuemin= "0" aria-valuemax= "100";
}

.a7 {
  width: 25rem;
}

.sidebar .toggled {
  width: 0 !important;
  overflow: hidden;
}

.vector {
  /* position: absolute; */
  object-position: right;
  object-fit: none;
  /* float: right; */
  width: 167px;
  height: 179px;
  top: -30px;
  left: 889px;
  margin: -132px 0px 0 789px;
}

.close-icon {
  float: right;
  width: 24px;
  height: 24px;
  padding: 6px;
  margin: -146px 0 0 80px;
}

.tasks {
  width: 100%;
  height: 49px;
  top: 248px;
  left: 296px;
  /* padding-top: 12px;
  padding-bottom: 12px; */
  /* padding: 0.75rem 1.25rem; */
  /* margin-left:0 ; */
  background-color: #fff;
  border-bottom: 1px solid #d0d5dd;
}
.card-all{
    height: 632px;
    width: 656px;


}

/* CSS Reset */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
  }

.content {
  width: 676px;
  height: 48px;
  border-bottom: 1px solid #d0d5dd;
  display: inline;
}

.prior-icon {
  width: 20px;
  height: 20px;
  top: 14px;
  left: 16px;
  margin: 0 20px 0 16px;
  /* display: inline; */
}

.task {
  font-family: Inter;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0em;
  align-items: center;
  /* display: inline; */
  height: 24px;
  width: 320px;
  float: inline-end;
}

.truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  /* Optionally, set a specific width or max-width to control where the truncation happens */
  max-width: 60px; /* Adjust to your desired value */
}

.inline-container {
  display: inline;
}

.done-badge {
  width: 47px;
  height: Hug (26px);
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 16px;
  gap: 6px;
  margin: 0 10px 0 10px;
  background-color: #e8f5e9;
  color: #219653;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  /* text-align: center; */
}

.inprogress-badge {
  width: 47px;
  height: Hug (26px);
  padding-right: 10px;
  padding-left: 10px;
  padding-top: 4px;
  padding-bottom: 4px;
  border-radius: 16px;
  gap: 6px;
  margin: 0 10px 0 10px;
  background-color: #e8f5e9;
  color: #f2c94c;
  font-family: Inter;
  font-size: 12px;
  font-weight: 500;
  line-height: 22px;
  letter-spacing: 0em;
  /* text-align: center; */
}

.datee {
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  text-align: right;
  color: #757575;
  width: 39px;
  height: 22px;
  /* top: 13px
left: 601px */
  margin: 0 10px 0 10px;
}

.mark-button{
    margin: 0 0 0 16px;
font-family: Inter;
font-size: 12px;
font-weight: 500;
line-height: 22px;
letter-spacing: 0em;
text-align: left;
color: #BC006D;
width: 78px;
height: 22px;

}